<div class="ScrollStyle">
    <ul class="news-list">
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
        <li>🔔 June 7, 2024: Excited to announce my latest publication...</li>
    </ul>
</div>

